*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    
    
}
html, body {
  max-width: 100%;
  /* font-family: 'Poppins', sans-serif; */
  
}
.body{
    font-family: sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.section-navigation{
  position: fixed;
  z-index: 999;
  width: 100%;
}
.nav-div{
    display: flex;
    /* flex: 1; */
    justify-content: space-between;
    background-color:black;
    padding: 1.1rem 1rem;
    align-items: center;
    
    
    
}
.nav-name{
    color: white;
    font-size: 2rem;
    cursor: pointer;

}
.nav-name span:hover{
  transition: all 0.3s;
  color: #ff1053;
}

.fb,.youtube,.twitter{
    font-size: 2rem;
    color: white;
    padding-right:1.5rem ;

}


.fb:hover{
    color:#1971c2 ;
    transition: all 0.3s;
}
.youtube:hover{
    color: red;
    transition: all 0.3s;
}
.twitter:hover{
    color: skyblue;
    transition: all 0.3s;
}

.nav-item{
    padding: 1.5rem;
    text-decoration: none;
    color:white ;
    font-size: 1.2rem;
    transition: all 0.3s;
    
}
.nav-item:hover {
    /* color:#20c997; */
    color: #ff1053;

}
.hero{
  background-image: linear-gradient(to right bottom, #2e5a80,#091219);
}


.hero-img{
    width: 100%;
}

.hero-container{
    position: relative;
}
.hero-txt{
    position: absolute;
    top: 25%;
    right: 45%;
    color: white;
    font-size: 3.5rem;
    align-items: center;
}
.hire-me{
    padding: 0.5rem 2rem 0.5rem 2rem;
    border:0.2rem solid #ff1053;
    border-radius: 1000px;
    text-decoration: none;
    color: #ff1053;
    font-size: 1rem;
    font-weight: 600;
}
.hire-me:hover{
    background-color: #ff1053;
    color:white;
    transition: all 0.3s;
    
}
.opacity-low-header-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
    font-size: 4rem;
    color:#f1f3f5 ;
    position: relative;
}
.main-header-div{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    


    
}
.main-header{
    font-size: 3rem;
}
.span-class{
    text-decoration: underline;
    
    
    text-decoration-color: rgb(92, 179, 255);
    text-decoration-color: #ff1053;
    
}
.span-class-alt{
  text-decoration: underline;
  text-decoration-color: rgb(92, 179, 255);
}
.about-grid{
  margin: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 2rem;
}
.hobby{
  justify-self: center
}
.about-ul-class{
  list-style: none;
  font-size: 1.3rem;
  line-height: 1.4rem;
  color: #f8f9fa;
  color: #FFFFFF.;
  
}
.hyper-link{
  color: #ff1053;
}
.list-header{
  font-size: 1.3rem;
  margin-bottom: 2.5rem;
}
.tab-inside-txt{
  padding-bottom: 1rem;
}
.tab-inside-txt-links{
  list-style:none;
  padding-bottom: 1.2rem;
}
.list-item{
    list-style: none;
    border-bottom: 1px solid #eaeaea;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    font-size: 1.5rem;
    color: #f1f3f5;
}
.email-word-first{
  color: #f1f3f5;
}
.about-header-section{
    /* width: 100vw; */
    
    padding-bottom: 4rem;
    margin-bottom: 4rem;
    font-family: sans-serif;
}
.about-dp-image{
  /* display: flex;
  justify-content: space-around;
  align-items: center;
  
  padding: 2rem; */
 
}
.dp{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  padding: 2rem;
  
  
}
.dp-img{
  width: 40%;
   /* padding: 2rem; */
  /* background-color: #white; */
  /* box-shadow:0 1rem 1rem 1rem rgba(32,201 ,151, 0.3);  */
  border-radius: 15px;
  
}
.abt-txt-header-span{
    color:rgb(92, 179, 255);
}
.about-section{
    padding: 10rem 9.6rem;
  
    
    background-image: linear-gradient(to right bottom, #032228,#549caa);
    background-image: linear-gradient(to right top, #2e5a80,#091219);
    
    
}
.about-txt-header{
    font-size: 2rem;
}
.about-txt-inside{
    font-size: 1.1rem;
    
    padding-top: 2rem;
}
.about-txt{
  margin-top: 0;
}
.about-footer{
  margin-top: 10rem;
  margin-bottom: 8rem;
}
.about-footer-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    
    
}
.about-footer-list{
    display: flex;
    list-style: none;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    color: #f1f3f5;
    
    
   
}
.list-div{
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-right: 2rem;
    border-right: 1px solid  #ff1053;;
    height: 70%;
    
    
   
}
.abt-footer-txt{
    font-size:2rem ;
    color: #f1f3f5;
}
.email{
    color: #5CB3FF;
}
.email-word{
    color: black;
}
.emailTO{
    color: #5CB3FF;
    color: #ff1053;
}
.section-what-i-do{
  
    height: 100vh;
    background-color: #f8f9fa;
    background-image: linear-gradient(to right,black,#003566);
    background-image: linear-gradient(to right,  black, #0b7285);
    
    padding: 2rem 14rem;
    /* border-top: 1px solid #bdc3c7; */
}
.opacity-low-header{
  /* font-family: sans-serif; */
}
.opacity-low-header-services{
    color: #e9ecef;
}
.what-i-do-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    column-gap: 6rem;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;;
}
.icon-what-i-do{
    padding: 1rem;
    background-color:white;
    background-color: #dee2e6;

    color:  rgb(92, 179, 255);
    color: #0b7285;
    box-shadow:0 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 2rem;
    margin-right: 2rem;

}
.what-i-do-mini-grid{
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    align-items:center;
    justify-content: center;
   
}
.what-i-do-txt{
    margin-bottom: 0.5rem;
    

}
.what-i-do-name{
    font-weight: 600;
    font-size: 1.2rem;
    color: #777;
    color: #c6d8e6;
    color: #bbd0ff;
    
   
    
}
.what-i-do-header-section{
  margin-bottom: 4rem;
}
.what-i-do-descr{
    margin-top: 0.4rem;
    color:#c6d8e6;
    color: #e9edc9;
    color:#bbd0ff
    
    
}
.main-header{
  font-weight: 600;
}
ion-icon{
    font-size: 2rem;
}
.section-resume{
  /* width: 100vw; */
  height: 100vh;
    padding: 0 9.6rem;
    padding-top: 3rem;
    padding-bottom: 65rem;
    position: relative;
    background-image: linear-gradient(to right, #032228,#549caa);
    background-image: linear-gradient(to right top, #2e5a80,#091219);
    /* border-top: 1px solid #bdc3c7; */
}
.resume{
    text-decoration: underline;
    text-decoration-color:#ff1053;
    padding-bottom:5rem ;

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    border-style: none;
    
  }
  

  
  tr:nth-child(even) {
  
    background-color: #8d99ae;
    font-weight: 600;
    
  }
  tr:nth-child(odd) {
    background-color: #555c68;
    font-weight: 600;
  }
  .th-class{
    
    background-color: #8d99ae;
  }
  .buttons-js{
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s;
    margin-right: 3rem;
    padding: 0.5rem 2rem;
    border: 1px solid #5CB3FF;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #4a8fcc;
    
  }
  

  .section-contact{
    
    height: 100vh;
    background-color: #f8f9fa;
    padding: 1rem 9.6rem;
    background-image: linear-gradient(to right,  black, #0b7285);
    /* border-top: 1px solid #bdc3c7; */
  }
  .contact-header-section{
    margin-bottom: 4rem;
  }
  .fbcontact,.ytcontact,.twcontact{
    color: #f8f9fa;
  }
  .phone{
    color: #5CB3FF;
  }
  .contact-grid{
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;

  }
  .contact-msg-header{
    font-size: 1.6rem;
    font-weight: 600;
    color: #f8f9fa;
  }
  .input-name{
    width: 20rem;
    height: 3rem;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    
    
  }
  .input-email{
    width: 40rem;
    height: 3rem;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 1.5rem;
    padding-left: 1rem;
   
    

  }
  .input-txt-thought{
    width: 61rem;
    height: 20rem;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 1.5rem;
    padding-left: 1rem;
    font-family: 'Poppins', sans-serif;

  }
  ::placeholder{
    color:#adb5bd ;
    
  }
  .submit-btn{
    padding: 0.5rem 1.4rem;
    border: 2px solid #5CB3FF;
    
    border-radius: 2rem;
   
    text-decoration: none;
    background-color: #5CB3FF;
    
    font-size: 1rem;
    
    color: white;
    transition: all 0.3s;
    
    
  }
  .submit-btn:hover{
    background-color:#407db3;
    color: white;
    border: 1px solid #407db3 ;
  }
  .submit-btn-div{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .address-heading{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  .add-ins-flex1,.add-ins-flex2{
    display: flex;
    
    align-items: center;
  }
  .add-ins-flex1{
    margin-bottom: 0.6rem;
  }
  .address-txt{
    font-size:1.5rem ;
  }
  .phone-span{
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  .email-span{
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  .contact-follow-me{
    margin-top:1rem ;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    color: #f1f3f5;
  }
  .social-link{
    color: #f1f3f5;
  }
.contact-piazza{
  font-size: 1.3rem;
  padding-top: 1.1rem;
  color: #5CB3FF;
}
.section-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #bdc3c7;
  background-color: #e9ecef;
  flex-direction: column;
  background-image: linear-gradient(to right top, #2e5a80,#091219);
  padding-top: 4rem;
  color: #f1f3f5;
}
.footer-copyright{
  font-size: 1.2rem;
  font-weight: 600;
}
.footer-last-modified{
  padding: 3rem 3rem;
  font-size: 1.2rem;
}
#demo{
  font-size: 1.2rem;
}
#demo1{
  font-size: 1.2rem;
}
.page-location{
  font-size: 1.2rem;
  padding-left: 2rem;
}
.div-footer-js{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.address-heading,.address-txt,.phone-span,.email-span{
  color: #f1f3f5;
}
.span-class-contact{
  text-decoration: underline;
  text-decoration-color: #5CB3FF;
}